alias l='ls -la --color'
alias m='make'
alias ..='cd ..'

alias v='vim'
alias f='vifm ~ ~/c'
alias tl='tmux ls'
alias ta='tmux a -t 0'

alias sai='sudo apt install'
alias sau='sudo apt update && sudo apt upgrade -y && sudo apt autoremove'

alias va='vim ~/.aliases && source ~/.aliases'
alias vb='vim ~/.bashrc && source ~/.bashrc'
alias .b='source ~/.bashrc'

alias vz='vim .zshrc && source ~/.zshrc'
alias .z='source ~/.zshrc'

alias vv='vim ~/.vimrc'
alias vf='vim ~/.vifm/vifmrc'
alias vt='vim ~/.tmux.conf'

alias e='exit'
alias a='clear && alias'
alias gp='./.push*'
#----------------------------

